.Weather {
  border: 1px solid #d3d3d3;
  font-family: Arial, sans-serif;
  color: #130c01;
  padding: 16px;
  margin: 30px auto;
  border-radius: 16px;
  background: linear-gradient(
    178.3deg,
    rgb(134, 200, 205) 11.5%,
    rgb(255, 253, 14) 103.1%
  );
   }

.Weather h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  margin: 20px 0 10px;
  color: black;  
}

.Weather ul {
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}

.Weather li {
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}
.Weather li strong {
  color: #3815a1;
  font-weight: normal;
  text-align: center;
  font-weight: bolder;
}
.Weather canvas {
  margin-top: 10px auto;
}

.Weather .temperature {
  font-weight: bold;
  color: #3815a1;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  margin-left: 5px;
}

.Weather .unit {
  color: #3815a1;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
  line-height: 1;
}

.Weather .btn {
  background: #3815a1;
}
